<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    .contentkiri{
      background-color: rgba(0,0,200,0.1);
      width:30%;
      float:left;
      padding:10px;
      margin-top:80px;
      margin-left:20px;
      border-radius: 10px;
    }

    .contentkanan{
      background-color: rgba(0,0,200,0.1);
      width : 50%;
      float :right;
      padding:10px;
      margin-top:80px;
      margin-right:20px;
      border-radius: 10px;
    }

    </style>
  </head>
  <body>
    <%- include ../partials/navbar.ejs%>
    <div class="contentkiri">
      <form class="" action="" method="post">
        <table>
          <tr>
            <td>username</td>
            <td> <input type="text" name="username" value=""> </td>
          </tr>

          <tr>
            <td>password</td>
            <td> <input type="password" name="password" value=""> </td>
          </tr>

          <tr>
            <td>first name</td>
            <td> <input type="text" name="first_name" value=""> </td>
          </tr>

          <tr>
            <td>last name</td>
            <td> <input type="text" name="last_name" value=""> </td>
          </tr>

          <tr>
            <td>address</td>
            <td> <input type="text" name="address" value=""> </td>
          </tr>

          <tr>
            <td>status</td>
            <td>
              <select class="" name="status">
                <option value="admin">admin</option>
                <option value="user">user</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan='2'> <input type="submit" name="" value="submit"> <input type="reset" name="" value="reset"></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="contentkanan">
      <center>
        <table border='1'>
          <tr>
            <th>no</th>
            <th>username</th>
            <th>password</th>
            <th>name</th>
            <th>address</th>
            <th>status</th>
            <th colspan='2'>action</th>
          </tr>
          <% for(let i=0;i<data.length;i++){%>
            <tr>
              <td> <%= i+1 %> </td>
              <td><%= data[i].username %></td>
              <td><%= data[i].password %></td>
              <% var gabkat=new my_helper.gabungkata(data[i].first_name,data[i].last_name) %>
              <td><%= gabkat.joinKata() %></td>
              <td><%= data[i].address %></td>
              <td><%= data[i].status %></td>
              <td><a href="/user/update/<%= data[i].id %>">update</a> </td>
              <td> <a href="/user/delete/<%= data[i].id %>">delete</a> </td>
            </tr>
          <%}%>
        </table>
    </center>
    </div>

  </body>
</html>
