<body>
<%- include ../partials/navbar.ejs%>
    <h1>List Laporan</h1>
    <a href="/Laporans/add">Add</a>
    <table border='1'>
        <tr>
          <td><center>No.</center></td>
          <td><center>Foto</center></td>
          <td><center>Deskripsi</center></td>
          <td><center>Wilayah</center></td>
          <td><center>Lokasi</center></td>
          <td colspan=2><center>Options</center></td>
        </tr>
      <% let i=1 %>
      <% data.forEach(data =>{ %>
        <tr>
          <td><%= i++ %></td>
          <td><%= data.foto %></td>
          <td><%= data.deskripsi %></td>
          <td><%= data.Wilayah.nama %></td>
          <td><%= data.lokasi %></td>
          <td><a href="/Laporans/update/<%= data.id %>">Update</a></td>
          <td><a href="/Laporans/delete/<%= data.id %>" onclick="return confirm('delete this ?');">Delete</a></td>
        </tr>
      <% })%>
    </table>

    <a href="/">Back</a>
</body>
